.CalcBody {
    
    display: grid;
    grid-template-rows: 1fr 1fr 4fr;
    
    width: 300;
    height: 400;
    background-color: lightgreen;
    text-decoration-color: black;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -150px;
    font-family: sans-serif;
    font-weight: bolder; 
    
    
}

#displayOne {
    
    width: 300;
    height: 50;
    background-color: green;
    text-decoration-color: white;
    font-size: 12px;
    
}

#displayTwo {
    
    width: 300;
    height: 50;
    background-color: green;
    text-decoration-color: white;
    font-size: 12px;
    
}

.operators {
    width: 75;
    height: 300;
    background-color: darkgreen;
    display: grid;
    grid-template-columns: 1fr;
    line-height: 60px;
    font-size: 25px;
}

.buttons {
    
    text-align: center;
    display: grid;
    grid-template-columns: 3fr 1fr;
    line-height: 60px;
    
    
    
}

.numPad {
    
    display: grid;    
    grid-template-columns: repeat(3, 1fr);
    font-size: 35px;
    

}